grails {
        awsAccounts=['__AWS_ACCOUNT_NO__']
        awsAccountNames=['__AWS_ACCOUNT_NO__':'test']
}
secret {
        accessId='__AWS_ACCESS_ID__'
        secretKey='__AWS_SECRET_KEY__'
}
cloud {
        envStyle='test'
        accountName='test'
        publicResourceAccounts=['amazon']
}
plugin {
        advancedUserDataProvider='myAdvancedUserDataProvider'
}
